
<div class="meiru-header">
	<div class="meiru-logo">系统管理后台</div>
	<ul class="meiru-nav" id="nav-bar">
        <li class="meiru-nav-item"><a href="#" v-on:click="makeActive('home1')">服务器详情</a></li>
        <li class="meiru-nav-item"><a href="#" v-on:click="makeActive('home2')">调试信息</a></li>
        <li class="meiru-nav-item"><a href="#" v-on:click="makeActive('home3')">用户</a></li>
    </ul>
</div>


<div class="meiru-body">
	<div class="meiru-sidebar">
		<ul class="meiru-menu">
	        <li class="meiru-menu-item" id="service_stat"><a href="">服务状况</a></li>
	        <li class="meiru-menu-item" id="net_stat"><a href="">网络状况</a></li>
	        <li class="meiru-menu-item" id="memory_stat"><a href="">内存状况</a></li>
	        <li class="meiru-menu-item" id="visit_stat"><a href="">访问状况</a></li>
    	</ul>
	</div>
	<div class="meiru-content">
		<div id="panel_stat"></div>
	</div>
</div>

<!-- <script src="<%- staticFile('/public/meiru/meiru.js') %>"></script>
 -->
<script>
var demo = new Vue({
    el: '#nav-bar',
    data: {
    },
    methods: {
        makeActive: function(item){
            // this.active = item;
        }
    }
});

var demo = new Vue({
    el: '#nav-bar',
    data: {
    },
    methods: {
        makeActive: function(item){
            // this.active = item;
        }
    }
});
</script>


<script>
Meiru.views("system", {
	system_index:function() {
		Meiru.menu(function(event, idx, menu, item) {
			// meiru.user.command("menu_item", item.id);
		});

		var model = this.model("service_stat");

		// if (!model.service_stat) {
		// }

		this.view("service_stat","system_service_stat", true);
	},

	service_stat:function(proto) {


	}
});

Meiru.models("system", {


});

//system
Meiru.modules("system", {
	command:{
		system_test:function() {


		}
	},

	request:{
		system_service_stat:function() {
			return ;
			// this.send("system_stat_req");
		}
	},

	response:{
		system_service_stat:function() {

			// return ;
		}
	},

	trigger:{

	}
});


Meiru.modules("network", {
	command:{
		network_open:function() {
			this.request("system_stat_req");
		},
		network_close:function() {
			log("network.network_close");
		},
		network_error:function() {
			log("network.network_error");
		},
		network_message:function(datalen) {
			log("network.network_message datalen =", datalen);
		}
	}
});


window.onload = function(){
	var ws_url = "<%- ws_url %>";
	var meiru = new Meiru();
	meiru.start(ws_url);
	meiru.view("system_index");
}

		

// var req = Meiru.module("system", "request");

// 		//response
// 		var response = {
// 			system_stat_res:function(proto) {
// 				var keys = ["sname", "param", "cmem", "lmem", "mqlen", "cpu", "message", "task"];
// 				var keynames = ["服务id", "启动参数", "C内存(KB)", "lua内存(KB)", "消息等待", "cpu使用时间", "消息数据", "任务数量", "操作"];
// 				var table = MeiruWidget("table", {class:"layui-table"});
// 				table.new("caption", "服务运行情况("+proto.block+"个block，总内存:"+(proto.total>>20)+"MB"+(proto.total%1024)+"KB)");
// 				var tr = table.new("thead").new("tr");
// 				tr.batch("th", keynames);
// 				var tbody = table.new("tbody");
// 				var services_map = {}
// 				for (var i = 0; i < proto.services.length; i++) {
// 					var service = proto.services[i];
// 					services_map[service.sname] = service;
// 					var values = [];
// 					for (var j = 0; j < keys.length; j++) {
// 						var key = keys[j];
// 						var value = service[key];
// 						if (value || value == 0) {
// 							if (key == "cmem" || key == "lmem") {
// 								values[j] = value.toFixed(3);
// 							}else{
// 								values[j] = value;
// 							}
// 						}else{
// 							values[j] = "";
// 						}
// 					}
// 					var tr = tbody.new("tr");
// 					tr.batch("td", values);
// 					tr.new("td", "<a href=''>操作</a>");
// 				}
// 				table.show('panel_stat');
// 				var keys = ["sname", "param", "id", "type", "peer", "sock", "read", "write", "wbuffer", "rtime", "wtime"];
// 				var keynames = ["服务id", "启动参数", "socketID", "类型", "peer", "sock", "读取数据(KB)", "写出数据(KB)", "wbuffer", "rtime", "wtime"];

// 				var table = MeiruWidget("table", {class:"layui-table"});
// 				var tr = table.new("thead").new("tr");
// 				tr.batch("th", keynames);
// 				var tbody = table.new("tbody");
// 				for (var i = 0; i < proto.netstats.length; i++) {
// 					var netstat = proto.netstats[i];
// 					var service = services_map[netstat.sname];
// 					var values = [];
// 					for (var j = 0; j < keys.length; j++) {
// 						var key = keys[j];
// 						var value = netstat[key];
// 						if (value || value == 0) {
// 							if (key == "read" || key == "write") {
// 								values[j] = value.toFixed(3);
// 							}else{
// 								values[j] = value;
// 							}
// 						}else{
// 							if (service){
// 								values[j] = service[key]?service[key]:"";
// 							}else{
// 								values[j] = "";
// 							}
// 						}
// 					}
// 					var tr = tbody.new("tr");
// 					tr.batch("td", values);
// 				}
// 				table.show('panel_net');
// 			}
// 		};
		
// 		return {
// 			command:command,
// 			request:request,
// 			response:response
// 		};
// 	},
// 	network:function() {
// 		var command = {
// 			network_open:function() {
// 				this.request("system_stat_req");
// 			},
// 			network_close:function() {
// 				log("network.network_close");
// 			},
// 			network_error:function() {
// 				log("network.network_error");
// 			},
// 			network_message:function(datalen) {
// 				log("network.network_message datalen =", datalen);
// 			}
// 		};
// 		return {command:command};
// 	}
// };

</script>