
<div class="layui-logo">Meiru后台</div>
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="">服务器详情</a></li>
        <li class="layui-nav-item"><a href="">调试信息</a></li>
        <li class="layui-nav-item"><a href="">用户</a></li>
    </ul>
</div>

<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item"><a href="">服务</a></li>
            <li class="layui-nav-item"><a href="">网络</a></li>
            <li class="layui-nav-item"><a href="">内存</a></li>
            <li class="layui-nav-item"><a href="">访问</a></li>
        </ul>
    </div>
</div>
        
