<div id='sidebar'>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Markdown 语法参考</span>
    </div>
    <div class='inner'>
      <ol>
        <li><tt>### 单行的标题</tt></li>
        <li><tt>**粗体**</tt></li>
        <li><tt>`console.log('行内代码')`</tt></li>
        <li><tt>```js\n code \n```</tt> 标记代码块</li>
        <li><tt>[内容](链接)</tt></li>
        <li><tt>![文字说明](图片链接)</tt></li>
        <li><tt>>>引用的内容</tt></li>
        <li><tt>- 列表内容</tt></li>
        <li><tt>+ 列表内容</tt></li>
        <li><tt>* 列表内容</tt></li>
        <li><tt>1.列表内容</tt></li>
        <li><tt>表头|表头|表头</tt></li>
        <li><tt>---|:--:|---:</tt></li>
        <li><tt>内容|内容|内容</tt></li>
      </ol>
      <span><a href='https://github.com/topics/markdown' target='_blank'>Markdown话题</a></span>
    </div>
  </div>

<!--   <div class='panel'>
    <div class='header'>
      <span class='col_fade'>话题发布指南</span>
    </div>
    <div class='inner'>
      <ol>
        <li>尽量把话题要点浓缩到标题里</li>
      </ol>
    </div>
  </div> -->

</div>
